.posts-wrapper.row
  .post
    .post-head
      .name
        Ben Walker
    .image.center-block
      =image_tag @post.image.url(:medium)
    %p.caption
      =@post.caption
    .text-center.edit-links
      = link_to "", posts_path, class: "icon-cross"
      %span
      = link_to "", edit_post_path(@post), class: 'icon-wrench'
