.posts-wrapper.row
  .post
    .post-head
      .name
        Ben Walker
    .image.center-block
      =image_tag @post.image.url(:medium)
    %p.caption
      =@post.caption
    .text-center.edit-links
      .actions
        %ul.list-inline
          %li
            = link_to "", posts_path, class: "icon-cross"
          %li
            = link_to "", edit_post_path(@post), class: 'icon-wrench'
