%html
  %head
    %title pupu
    =csrf_meta_tags

    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header#header.header.fixed
      .wrap
        .clearfix{:style => 'width:100%;'}
          = link_to "", root_path, class: "icon-command", id: "logo"
          %ul#navmenu
            %li
              = link_to "", new_post_path, class: "icon-plus"
            %li
              = link_to "", '#', class: "icon-contrast"
            %li
              = link_to "", '#', class: "icon-lock"

    =yield

    :javascript
      var header = document.querySelector("#header");

      new Headroom(header, {
        tolerance: {
          down : 2,
          up : 5
        },
        offset : 100,
        classes: {
          initial: "slide",
          pinned: "slide--reset",
          unpinned: "slide--up"
        }
      }).init();
