%html
  %head
    %title pupu
    =csrf_meta_tags

    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    =javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/navbar'

    .container
      -flash.each do |name, msg|
        = content_tag :div, msg, class: [:alert, alert_for(name)]


    =yield

    :javascript
      var header = document.querySelector("#header");

      new Headroom(header, {
        tolerance: {
          down : 2,
          up : 5
        },
        offset : 100,
        classes: {
          initial: "slide",
          pinned: "slide--reset",
          unpinned: "slide--up"
        }
      }).init();
